[Unit]
Description=SNA-LGTC init
Requires=network-online.target
After=network-online.target
Before=munin-node.service docker.service

[Service]
ExecStart=/bin/sna-lgtc-boot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
