[Unit]
Description=Updates a node and sensors
Requires=sna-lgtc-boot.service
After=sna-lgtc-boot.service

[Service]
ExecStart=/usr/bin/videk-client
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
